body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.author-name{
    color: orange;
}
.upper-text{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
}
.lower-text{
    font-size: 30px;
    font-weight: 700;
}
.text-aboutme{
    font-size: 20px;
}
.button{
    font-size: 18px;
    color: white;
    background-image: linear-gradient( orange,tomato);
    border-radius: 5px;
    font-weight: bolder;
    border: white ;
    padding: 1.5%;
    
}
.button:hover{
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(8, 8, 8, 0.205);
    color: #fff;
    transform: translateY(-1px);
}
.header{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin: bottom 150px; ;
}
.top-thing{
    width: 50%;
    padding: 5%;
}
.top-thing img{
    width: 90%;
}