body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.author-name{
    color: orange;
}
.upper-text{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
}
.lower-text{
    font-size: 30px;
    font-weight: 700;
}
.text-aboutme{
    font-size: 20px;
}
.button{
    font-size: 18px;
    color: white;
    background-image: linear-gradient( orange,tomato);
    border-radius: 5px;
    font-weight: bolder;
    border: white ;
    padding: 1.5%;
    
}
.button:hover{
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(8, 8, 8, 0.205);
    color: #fff;
    transform: translateY(-1px);
}
.header{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin: bottom 150px; ;
}
.top-thing{
    width: 60%;
    padding: 2%;
}
.top-thing img{
    width: 75%;
}
.experience-part{
    display: flex;
    font-size: 30px;
    margin-bottom: 100px;
    
   
}
.full-stack{
    width: 40%;
    box-shadow: 10px 10px 30px rgba(110, 93, 93, 0.705);
    margin-right: 5%;
    margin-left: 5%;
    padding: 2%;
    border-radius: 10px;
    /* background-image: ; */
    
 

}

.vlog-experience{
    font-size: 25px;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
#expert{
    border-left: 7px solid;
    border-image: linear-gradient(tomato, orange);
    border-image-slice: 1;
}
#baby-dev{
    border-left: 7px solid;
    border-image: linear-gradient(cyan, blue);
    border-image-slice: 1;
    border-radius: 0px;
}
footer p{
    text-align: center;
    font-size: 20px;
}